/* Reset general */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables oficiales de la pauta */
:root {
  --bg-main: #000000;
  --text-main: #FFFFFF;
  --text-secondary: #D3D3D3;
  --accent-blue: #1E90FF;
  --accent-neon: #39FF14;
  --font-heading: 'Orbitron', sans-serif;
  --font-body: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-main);
  color: var(--text-main);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  letter-spacing: 1px;
}